.user-view-container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
  }
.side-bar-container {
    box-sizing: border-box;
    height: 100%;
    border-right: 1px solid #A0A7AF;
    padding: 1em;
}
.nav {
    gap: 1em;
    height: 100%;
}
.nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    text-decoration: none;
    color: #A0A7AF;
    padding: 1em 2em;
    border-radius: 1em;
}
.user-view-container .router-link-active {
    background-color: var(--secondary-color);
    color: var(--primary-color) !important;
}

.content-container {
<<<<<<< HEAD
=======
    height: auto;
>>>>>>> 593a26af846eb077916757690f38c9d6d5bbac7c
    padding: 50px;
}

.content-container h1 {
    margin-bottom: 50px;
}